<div class="container">

  <div *ngIf="carregando" class="spinner-container">
    <div class="spinner"></div>
  </div>

  <ng-container *ngIf="!carregando">
    <div *ngIf="imoveisPaginados.length > 0; else nenhumImovel">
      
      <div class="grade">
        <div class="card" *ngFor="let imovel of imoveisPaginados" (click)="abrirDetalhes(imovel)">
          
          <!-- Verifica se o imóvel tem imagem e exibe a imagem padrão caso não tenha -->
          <img [src]="imovel.imagem || 'caminho/para/imagem/default.jpg'" alt="Imagem do imóvel">
          
          <p><strong>Endereço:</strong> {{ imovel.endereco }}</p>
          <p><strong>Valor:</strong> R$ {{ imovel.valor }}</p>
          <p><strong>Tipo:</strong> {{ imovel.tipo }}</p>
        </div>
      </div>

      <div class="paginacao">
        <button (click)="paginaAnterior()" [disabled]="paginaAtual === 1">Anterior</button>
        <span>Página {{ paginaAtual }} de {{ totalPaginas }}</span>
        <button (click)="proximaPagina()" [disabled]="paginaAtual === totalPaginas">Próxima</button>
      </div>
    </div>

    <ng-template #nenhumImovel>
      <div class="mensagem-vazia">
        <p>Nenhum imóvel encontrado.</p>
      </div>
    </ng-template>
  </ng-container>

</div>