<div class="detalhes-container">
  <div class="conteudo">
    
    <div class="imagem-container">
      <img *ngIf="imovel?.imagem; else placeholder"
           [src]="imovel.imagem"
           alt="Imagem do imóvel"
           style="max-width: 120px; max-height: 120px;">
      <ng-template #placeholder>
        <img src="https://via.placeholder.com/120" alt="Imagem indisponível">
      </ng-template>
    
      
      <div *ngIf="editando" class="form-group">
        <label for="novaImagem">Nova imagem:</label>
        <input type="file" id="novaImagem" (change)="selecionarNovaImagem($event)">
      </div>
    </div>
    

    <div class="info-container">
      <h2>Detalhes do Imóvel</h2>

     

      <p><strong>Endereço:</strong>
        <span *ngIf="!editando">{{ imovel.endereco }}</span>
        <input *ngIf="editando" [(ngModel)]="imovel.endereco">
      </p>

      <p><strong>Proprietário:</strong>
        <span *ngIf="!editando">{{ imovel.proprietario }}</span>
        <input *ngIf="editando" [(ngModel)]="imovel.proprietario">
      </p>

      <p><strong>Descrição:</strong>
        <span *ngIf="!editando">{{ imovel.descricao }}</span>
        <textarea *ngIf="editando" [(ngModel)]="imovel.descricao"></textarea>
      </p>

      <p><strong>Número N°:</strong>
        <span *ngIf="!editando">{{ imovel.numero }}</span>
        <textarea *ngIf="editando" [(ngModel)]="imovel.numero"></textarea>
      </p>

      <p><strong>Tipo de Negociação:</strong>
        <span *ngIf="!editando">{{ imovel.tipo }}</span>
        <input *ngIf="editando" [(ngModel)]="imovel.tipo">
      </p>

    

      <p><strong>Valor:</strong>
        <span *ngIf="!editando">R$ {{ imovel.valor | number:'1.2-2' }}</span>
      
        <input 
          *ngIf="editando"
          type="text"
          [(ngModel)]="valorFormatado"
          inputmode="decimal"
          pattern="[0-9.,]*"
          placeholder="Ex: 1.234,56"
        >
      </p>

      <div class="botoes-acao">
        <button *ngIf="!editando" (click)="editar()">Editar</button>
        <button *ngIf="editando" (click)="salvar()">Salvar</button>
        <button (click)="voltar()">Voltar</button>
        <button (click)="excluir()">Excluir</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoading" class="loader-overlay">
  <div class="loader"></div>
  <p>Salvando imóvel...</p>
</div>