<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imobiliária Tiffany</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Imobiliária H1</h1>
        <input type="text" id="search" placeholder="Buscar imóveis...">
    </header>
    
    <section id="imoveis">
        <h2>Imóveis Disponíveis</h2>
        <div class="imovel">
            <img src="casa1.jpg" alt="Casa Luxuosa">
            <h3>Casa Luxuosa</h3>
            <p>Linda casa de alto padrão.</p>
        </div>
    </section>

    <div class="divbut">
        <app-button-imovel></app-button-imovel>
    </div>
    <router-outlet></router-outlet>
</body>
</html>

