<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imobiliária Tiffany</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Imobiliária H1</h1>
        <input type="text" id="search" placeholder="Buscar imóveis...">
    </header>
    
    <app-lista-imoveis></app-lista-imoveis>
    
    <app-button-acao></app-button-acao>

    

    <div class="divbut">
        <app-button-imovel></app-button-imovel>
    </div>
    <router-outlet></router-outlet>
</body>
</html>

